@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --text-blue: #3D7593;
  --bg-blue: #B5D3E3;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}